body { 
    margin: 0;
}

.first-font {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
}

.menu ul{
    display: flex;
    justify-content:start;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40px;
}

.menu li {
    padding: 20px 0px 20px 0px;
    font-size: 2rem;
    color: white;
}

a {
    text-decoration: none;
}

.menu a {
    color: white;
}

.albums-content {
    background-color: pink;
}

.albums-text {
    color: yellow;
    text-shadow: 4px 4px 4px rgb(97, 215, 255);
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.albums-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.albums-container-elem {
    flex: 25%;
    text-align: center;
}

.albums-container-elem img{
    height: 300px;
    margin: 20px 0px 20px 0px;
}

.albums-container-elem img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.fav-songs-container {
    background-color: white;
}

.songs-text {
    color: black;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.songs-list {
    display: flex;
}

.songs-list-elem {
    flex: 50%;
    margin: 0px 10px 0px 10px
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 50px;
}

.tag {
    padding-top: 15px;
}