@media print {
    .menu {
        display: none;
    }

    .image-container {
        display: none;
    }

    .description-text-container {
        padding: 0px 10px 0px 10px;
    }

    .music-btn {
        display: none;
    }

    .community-merch-section {
        height: 100px;
    }

    .merch-container {
        display: none;
    }

    footer {
        margin-top: 20px;
    }
}